modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "minecraft_bot_test"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Minecraft Bot"

[[workflows.workflow]]
name = "minecraft_bot_test"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install mineflayer winston && node start.js --help"

[[workflows.workflow]]
name = "Minecraft Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node start.js"
